/* GENERAL */

:root {
  --light-box: 1px solid rgba(175, 173, 173, 0.3);
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  border-bottom: var(--light-box);
  width: 80%;
  background-color: #fff;
  z-index: 2;
}

img {
  width: 100%;
}

hr {
  width: 100%;
  margin: 5px auto;
}

input {
  border: none;
  outline: none;
  font-size: 16px;
}

#container {
  display: flex;
}

/* SIDEBAR */
#sidebar {
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1rem;
  width: 200px;
  flex: 0 0 auto;
  height: 95vh;
  border-right: var(--light-box);
}

#sidebar-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  padding-left: 15px;
  position: fixed;
  top: 0;
  left: 0;
  height: 90%;
  width: 180px;
}

#sidebar-items:first-child {
  padding-top: 20px;
}

#profile-pic {
  max-width: 100px;
  margin: 0 auto;
}

#profile-pic img {
  border-radius: 5em;
  background-color: gray;
}

#profile-name {
  text-align: center;
  font-size: 20px;
}

#sidebar a {
  text-decoration: none;
  color: inherit;
}

.sidebar-item {
  padding: 10px;
}

.sidebar-item:hover {
  background-color: #cff9d1;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top: var(--light-box);
  border-bottom: var(--light-box);
}

.category a {
  opacity: 0.5;
}

/* APP CONTAINER */
#app-container {
  flex: 1 1 auto;
  font-family: 'Itim', cursive;
}

/* HEADER */

.header-items {
  display: flex;
  align-items: center;
}
.logo {
  width: 50px;
  height: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 {
  display: inline-block;
  margin-left: 1rem;
}
.search {
  border: var(--light-box);
  padding: 10px;
}

.icon {
  padding: 10px;
  border: var(--light-box);
  margin-left: 15px;
  width: 25px;
  height: 25px;
}

/* BOOKS */

.book-cards {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Lato', sans-serif;
  padding-left: 3em;
  padding-right: 5em;
  padding-top: 5em;
}

.card {
  line-height: 1.3;
  width: calc(20% - 1.5em);
  margin: 1em 0.75em;
  position: relative;
}

.card:hover .img-box,
.add-item:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  transition: all 0.5s ease;
}

.add-item {
  align-self: center;
  width: 50px;
  opacity: 0.25;
  cursor: pointer;
}

.add-item:hover {
  opacity: 1;
}

.img-box {
  position: relative;
  border: var(--light-box);
  padding: 1em;
  margin-bottom: 1em;
}

.book-cover:hover {
  opacity: 0.75;
}

.card-buttons {
  transition: all 0.5s ease-in-out;
  opacity: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-box:hover .card-buttons {
  opacity: 1;
}

.card-buttons .icon {
  cursor: pointer;
  margin: 0 5px;
  background-color: #bebebe;
  border-radius: 5em;
  padding: 5px;
}

.card-buttons .icon:hover {
  background-color: #2084be;
}
.reading {
  background-image: url(./font/svg/007-idea.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.completed {
  background-image: url(./font/svg/006-book-stack.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.content {
  padding-left: 10px;
}

.book-title,
.book-author {
  margin: 0;
}
.book-title {
  font-size: 18px;
}

.book-author {
  font-weight: 300;
  font-size: 14px;
}

/* POP UP FORM */

.overlay {
  position: fixed;

  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.form-content {
  position: relative;
  border: 1px solid #bebebe;
  background-color: aliceblue;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
  border-radius: 1em;
  top: 25%;
  margin: 0 auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  text-align: center;
  z-index: 10;
  cursor: initial;
}
